# Logical vectors

## Comparisions

In [1]:
library(tidyverse)
library(nycflights13)

── Attaching core tidyverse packages ────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ──────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the ]8;;http://conflicted.r-lib.org/conflicted package]8;; to force all conflicts to become errors

## Summaries

In [2]:
flights |> 
  group_by(year, month, day) |> 
  summarize(
    proportion_delayed = mean(dep_delay <= 60, na.rm = TRUE),
    count_long_delay = sum(arr_delay >= 300, na.rm = TRUE),
    .groups = "drop"
  )

# A tibble: 365 × 5
    year month   day proportion_delayed count_long_delay
   <int> <int> <int>              <dbl>            <int>
 1  2013     1     1              0.939                3
 2  2013     1     2              0.914                3
 3  2013     1     3              0.941                0
 4  2013     1     4              0.953                0
 5  2013     1     5              0.964                1
 6  2013     1     6              0.959                0
 7  2013     1     7              0.956                1
 8  2013     1     8              0.975                0
 9  2013     1     9              0.986                1
10  2013     1    10              0.977                2
# ℹ 355 more rows
# ℹ Use `print(n = ...)` to see more rows

## Conditional transformations

In [3]:
x <- c(-3:3, NA)

In [4]:
case_when(
  x == 0 ~ "0",
  x < 0  ~ "-ve",
  x > 0  ~ "+ve",
  is.na(x) ~ "???"
)

[1] "-ve" "-ve" "-ve" "0"   "+ve" "+ve" "+ve" "???"

# Numbers

## Making numbers

In [5]:
x <- c("1.2", "5.6", "1e3")
parse_double(x)

[1]    1.2    5.6 1000.0

In [ ]:
x <- c("$1,234", "USD 3,513", "59%")
parse_double(x)

警告: 3 parsing failures.
row col               expected    actual
  1  -- a double               $1,234
  2  -- a double               USD 3,513
  3  -- no trailing characters 59%

[1] NA NA NA
attr(,"problems")
# A tibble: 3 × 4
    row   col expected               actual
  <int> <int> <chr>                  <chr>
1     1    NA a double               $1,234
2     2    NA a double               USD 3,513
3     3    NA no trailing characters 59%

In [7]:
parse_number(x)

[1] 1234 3513   59

## Counts

In [9]:
flights |> 
  count(dest)

# A tibble: 105 × 2
   dest      n
   <chr> <int>
 1 ABQ     254
 2 ACK     265
 3 ALB     439
 4 ANC       8
 5 ATL   17215
 6 AUS    2439
 7 AVL     275
 8 BDL     443
 9 BGR     375
10 BHM     297
# ℹ 95 more rows
# ℹ Use `print(n = ...)` to see more rows

In [10]:
flights |> 
  group_by(dest) |> 
  summarize(
    n = n(),
    delay = mean(arr_delay, na.rm = TRUE)
  )

# A tibble: 105 × 3
   dest      n delay
   <chr> <int> <dbl>
 1 ABQ     254  4.38
 2 ACK     265  4.85
 3 ALB     439 14.4
 4 ANC       8 -2.5
 5 ATL   17215 11.3
 6 AUS    2439  6.02
 7 AVL     275  8.00
 8 BDL     443  7.05
 9 BGR     375  8.03
10 BHM     297 16.9
# ℹ 95 more rows
# ℹ Use `print(n = ...)` to see more rows

In [11]:
flights |> 
  group_by(tailnum) |> 
  summarize(miles = sum(distance))

# A tibble: 4,044 × 2
   tailnum  miles
   <chr>    <dbl>
 1 D942DN    3418
 2 N0EGMQ  250866
 3 N10156  115966
 4 N102UW   25722
 5 N103US   24619
 6 N104UW   25157
 7 N10575  150194
 8 N105UW   23618
 9 N107US   21677
10 N108UW   32070
# ℹ 4,034 more rows
# ℹ Use `print(n = ...)` to see more rows

In [12]:
flights |> count(tailnum, wt = distance)

# A tibble: 4,044 × 2
   tailnum      n
   <chr>    <dbl>
 1 D942DN    3418
 2 N0EGMQ  250866
 3 N10156  115966
 4 N102UW   25722
 5 N103US   24619
 6 N104UW   25157
 7 N10575  150194
 8 N105UW   23618
 9 N107US   21677
10 N108UW   32070
# ℹ 4,034 more rows
# ℹ Use `print(n = ...)` to see more rows

## Numeric transformations

In [2]:
library(tidyverse)
df <- tribble(
  ~x, ~y,
  1,  3,
  5,  2,
  7, NA,
  )

── Attaching core tidyverse packages ────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ──────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the ]8;;http://conflicted.r-lib.org/conflicted package]8;; to force all conflicts to become errors

In [3]:
df

# A tibble: 3 × 2
      x     y
  <dbl> <dbl>
1     1     3
2     5     2
3     7    NA

In [4]:
df |> 
  mutate(
    min = pmin(x, y, na.rm = TRUE),
    max = pmax(x, y, na.rm = TRUE)
  )

# A tibble: 3 × 4
      x     y   min   max
  <dbl> <dbl> <dbl> <dbl>
1     1     3     1     3
2     5     2     2     5
3     7    NA     7     7

In [5]:
x <- c(1, 2, 5, 10, 15, 20)
cut(x, breaks = c(0, 5, 10, 15, 20))

[1] (0,5]   (0,5]   (0,5]   (5,10]  (10,15] (15,20]
Levels: (0,5] (5,10] (10,15] (15,20]

In [7]:
cut(
  x,
  breaks = c(0, 5, 10, 15, 20),
  labels = c("q1", "q2", "q3", "q4")
)

[1] q1 q1 q1 q2 q3 q4
Levels: q1 q2 q3 q4

In [8]:
y <- c(NA, -10, 5, 10, 100)
cut(
  y,
  breaks = c(0, 5, 10, 15, 20)
)

[1] <NA>   <NA>   (0,5]  (5,10] <NA>
Levels: (0,5] (5,10] (10,15] (15,20]

In [9]:
x <- 1:10
cumsum(x)

 [1]  1  3  6 10 15 21 28 36 45 55

In [10]:
x <- c(1, 2, 2, 3 ,4, NA)
min_rank(x)

[1]  1  2  2  4  5 NA

In [12]:
desc(x)

[1] -1 -2 -2 -3 -4 NA

In [11]:
min_rank(desc(x))

[1]  5  3  3  2  1 NA

In [13]:
x <- c(2, 5, 11, 11, 19, 35)

In [14]:
lag(x)

[1] NA  2  5 11 11 19

In [15]:
lead(x)

[1]  5 11 11 19 35 NA

## Numeric summaries

In [16]:
library(nycflights13)

In [17]:
flights |> 
  group_by(origin, dest) |> 
summarize(
  distance_iqr = IQR(distance),
  n = n(),
  .group = "drop"
)

`summarise()` has grouped output by 'origin'. You can override using the `.groups` argument.

# A tibble: 224 × 5
# Groups:   origin [3]
   origin dest  distance_iqr     n .group
   <chr>  <chr>        <dbl> <int> <chr>
 1 EWR    ALB              0   439 drop
 2 EWR    ANC              0     8 drop
 3 EWR    ATL              0  5022 drop
 4 EWR    AUS              0   968 drop
 5 EWR    AVL              0   265 drop
 6 EWR    BDL              0   443 drop
 7 EWR    BNA              0  2336 drop
 8 EWR    BOS              0  5327 drop
 9 EWR    BQN              0   297 drop
10 EWR    BTV              0   931 drop
# ℹ 214 more rows
# ℹ Use `print(n = ...)` to see more rows

# Strings

In [18]:
install.packages("babynames")

试开URL’https://cran.rstudio.com/bin/macosx/big-sur-arm64/contrib/4.4/babynames_1.0.1.tgz'
Content type 'application/x-gzip' length 5533286 bytes (5.3 MB)
==================================================
downloaded 5.3 MB

下载的二进制程序包在
	/var/folders/fv/c0dh9y6s7638rh5fdr3lgcmr0000gn/T//RtmpiKiA0a/downloaded_packages里

In [19]:
library(tidyverse)
library(babynames)

## Creating a string

In [22]:
tricky <- r"(double_quote <- "\"" # or '"'
single_quote <- '\'' # or "'")"
str_view(tricky)

[1] │ double_quote <- "\"" # or '"'
    │ single_quote <- '\'' # or "'"

## Creating many strings from data

In [23]:
str_c("x", "y", "1")

[1] "xy1"

In [24]:
x <- c("x", "y", "z")
str_c(x)

[1] "x" "y" "z"

## Extracting data from strings

In [25]:
df1 <- tibble(x = c("a,b,c", "d,e", "f"))

In [26]:
df1

# A tibble: 3 × 1
  x
  <chr>
1 a,b,c
2 d,e
3 f

In [27]:
df1 |> 
  separate_longer_delim(x, delim = ",")

# A tibble: 6 × 1
  x
  <chr>
1 a
2 b
3 c
4 d
5 e
6 f

In [28]:
df1 |> 
  mutate(y = c("q1", "q2", "q3")) |> 
  separate_longer_delim(x, delim = ",")

# A tibble: 6 × 2
  x     y
  <chr> <chr>
1 a     q1
2 b     q1
3 c     q1
4 d     q2
5 e     q2
6 f     q3

In [31]:
df3 <- tibble(x = c("a10.1.2022", "b10.2.2011", "e15.1.2015"))
df3

# A tibble: 3 × 1
  x
  <chr>
1 a10.1.2022
2 b10.2.2011
3 e15.1.2015

In [32]:
df3 |> 
  separate_wider_delim(
    x,
    delim = ".",
    names = c("code", "edition", "year")
  )

# A tibble: 3 × 3
  code  edition year
  <chr> <chr>   <chr>
1 a10   1       2022
2 b10   2       2011
3 e15   1       2015

In [33]:
df3 |> 
  separate_wider_delim(
    x,
    delim = ".",
    names = c("code", NA, "year")
  )

# A tibble: 3 × 2
  code  year
  <chr> <chr>
1 a10   2022
2 b10   2011
3 e15   2015

In [34]:
df4 <- tibble(x = c("202215TX", "202122LA", "202325CA")) 
df4

# A tibble: 3 × 1
  x
  <chr>
1 202215TX
2 202122LA
3 202325CA

In [35]:
df4 |> 
  separate_wider_position(
    x,
    widths = c(year = 4, age = 2, state = 2)
  )

# A tibble: 3 × 3
  year  age   state
  <chr> <chr> <chr>
1 2022  15    TX
2 2021  22    LA
3 2023  25    CA

In [39]:
df4 |> 
  separate_wider_position(
    x,
    widths = c(year = 4, 2, state = 2)
  )

# A tibble: 3 × 2
  year  state
  <chr> <chr>
1 2022  TX
2 2021  LA
3 2023  CA

## Letters

In [40]:
babynames

# A tibble: 1,924,665 × 5
    year sex   name          n   prop
   <dbl> <chr> <chr>     <int>  <dbl>
 1  1880 F     Mary       7065 0.0724
 2  1880 F     Anna       2604 0.0267
 3  1880 F     Emma       2003 0.0205
 4  1880 F     Elizabeth  1939 0.0199
 5  1880 F     Minnie     1746 0.0179
 6  1880 F     Margaret   1578 0.0162
 7  1880 F     Ida        1472 0.0151
 8  1880 F     Alice      1414 0.0145
 9  1880 F     Bertha     1320 0.0135
10  1880 F     Sarah      1288 0.0132
# ℹ 1,924,655 more rows
# ℹ Use `print(n = ...)` to see more rows

In [41]:
x <- c("Apple", "Banana", "Pear")

In [43]:
str_sub(x, start = 1, end = 3)

[1] "App" "Ban" "Pea"

In [44]:
charToRaw("Hadley")

[1] 48 61 64 6c 65 79

# Locale-dependent functions

## Regular expressions

In [45]:
fruit

 [1] "apple"             "apricot"           "avocado"           "banana"            "bell pepper"
 [6] "bilberry"          "blackberry"        "blackcurrant"      "blood orange"      "blueberry"
[11] "boysenberry"       "breadfruit"        "canary melon"      "cantaloupe"        "cherimoya"
[16] "cherry"            "chili pepper"      "clementine"        "cloudberry"        "coconut"
[21] "cranberry"         "cucumber"          "currant"           "damson"            "date"
[26] "dragonfruit"       "durian"            "eggplant"          "elderberry"        "feijoa"
[31] "fig"               "goji berry"        "gooseberry"        "grape"             "grapefruit"
[36] "guava"             "honeydew"          "huckleberry"       "jackfruit"         "jambul"
[41] "jujube"            "kiwi fruit"        "kumquat"           "lemon"             "lime"
[46] "loquat"            "lychee"            "mandarine"         "mango"             "mulberry"
[51] "nectarine"         "nut"               "olive"             "orange"            "pamelo"
[56] "papaya"            "passionfruit"      "peach"             "pear"              "persimmon"
[61] "physalis"          "pineapple"         "plum"              "pomegranate"       "pomelo"
[66] "purple mangosteen" "quince"            "raisin"            "rambutan"          "raspberry"
[71] "redcurrant"        "rock melon"        "salal berry"       "satsuma"           "star fruit"
[76] "strawberry"        "tamarillo"         "tangerine"         "ugli fruit"        "watermelon"

In [46]:
str_view(fruit, "berry")

 [6] │ bil<berry>
 [7] │ black<berry>
[10] │ blue<berry>
[11] │ boysen<berry>
[19] │ cloud<berry>
[21] │ cran<berry>
[29] │ elder<berry>
[32] │ goji <berry>
[33] │ goose<berry>
[38] │ huckle<berry>
[50] │ mul<berry>
[70] │ rasp<berry>
[73] │ salal <berry>
[76] │ straw<berry>

## Extract variables

In [47]:
df <- tribble(
  ~str,
  "<Sheryl>-F_34",
  "<Kisha>-F_45", 
  "<Brandon>-N_33",
  "<Sharon>-F_38", 
  "<Penny>-F_58",
  "<Justin>-M_41", 
  "<Patricia>-F_84", 
)

In [48]:
df

# A tibble: 7 × 1
  str
  <chr>
1 <Sheryl>-F_34
2 <Kisha>-F_45
3 <Brandon>-N_33
4 <Sharon>-F_38
5 <Penny>-F_58
6 <Justin>-M_41
7 <Patricia>-F_84

In [ ]:
dot <- "\\."

In [50]:
str_view(c("abc", "a.c", "bef"), "a\\.c")

[2] │ <a.c>

In [51]:
str_view(c("abc", "a.c", "bef"), r"{a\.c}")

[2] │ <a.c>

In [52]:
x <- "a\\b"
str_view(x)

[1] │ a\b

In [53]:
str_view(x, "\\\\")

[1] │ a<\>b

In [54]:
str_view(x, r"{\\}")

[1] │ a<\>b

In [55]:
x <- c("abb", "abab")
str_view(x, "ab+")

[1] │ <abb>
[2] │ <ab><ab>

## Pattern control

# Factors

In [57]:
gss_cat

# A tibble: 21,483 × 9
    year marital         age race  rincome        partyid            relig              denom      tvhours
   <int> <fct>         <int> <fct> <fct>          <fct>              <fct>              <fct>        <int>
 1  2000 Never married    26 White $8000 to 9999  Ind,near rep       Protestant         Southern …      12
 2  2000 Divorced         48 White $8000 to 9999  Not str republican Protestant         Baptist-d…      NA
 3  2000 Widowed          67 White Not applicable Independent        Protestant         No denomi…       2
 4  2000 Never married    39 White Not applicable Ind,near rep       Orthodox-christian Not appli…       4
 5  2000 Divorced         25 White Not applicable Not str democrat   None               Not appli…       1
 6  2000 Married          25 White $20000 - 24999 Strong democrat    Protestant         Southern …      NA
 7  2000 Never married    36 White $25000 or more Not str republican Christian          Not appli…       3
 8  2000 Divorced         44 White $7000 to 7999  Ind,near dem       Protestant         Lutheran-…      NA
 9  2000 Married          44 White $25000 or more Not str democrat   Protestant         Other            0
10  2000 Married          47 White $25000 or more Strong republican  Protestant         Southern …       3
# ℹ 21,473 more rows
# ℹ Use `print(n = ...)` to see more rows

In [58]:
gss_cat$marital

   [1] Never married Divorced      Widowed       Never married Divorced      Married       Never married
   [8] Divorced      Married       Married       Married       Married       Married       Married
  [15] Divorced      Married       Widowed       Never married Married       Married       Married
  [22] Married       Never married Widowed       Widowed       Widowed       Widowed       Widowed
  [29] Divorced      Widowed       Widowed       Married       Married       Never married Married
  [36] Never married Never married Never married Never married Never married Married       Married
  [43] Divorced      Never married Never married Never married Married       Married       Married
  [50] Married       Never married Married       Married       Married       Married       Divorced
  [57] Divorced      Divorced      Never married Never married Married       Married       Never married
  [64] Divorced      Never married Widowed       Divorced      Married       Never married Never married
  [71] Widowed       Widowed       Widowed       Widowed       Widowed       Never married Widowed
  [78] Never married Married       Never married Married       Married       Widowed       Married
  [85] Married       Divorced      Never married Separated     Never married Widowed       Widowed
  [92] Married       Divorced      Never married Never married Never married Married       Married
  [99] Widowed       Divorced      Married       Married       Married       Married       Widowed
 [106] Married       Divorced      Divorced      Married       Never married Married       Married
 [113] Separated     Married       Never married Divorced      Divorced      Separated     Married
 [120] Widowed       Separated     Divorced      Married       Divorced      Never married Divorced
 [127] Divorced      Married       Never married Never married Never married Married       Married
 [134] Divorced      Widowed       Never married Widowed       Divorced      Separated     Widowed
 [141] Never married Widowed       Widowed       Widowed       Widowed       Never married Never married
 [148] Never married Never married Never married Never married Never married Married       Married
 [155] Separated     Never married Widowed       Widowed       Married       Married       Married
 [162] Married       Married       Never married Married       Divorced      Never married Married
 [169] Married       Married       Never married Never married Married       Married       Married
 [176] Married       Married       Married       Married       Married       Married       Widowed
 [183] Widowed       Married       Married       Married       Divorced      Married       Married
 [190] Never married Never married Never married Divorced      Never married Never married Married
 [197] Never married Separated     Never married Never married Divorced      Widowed       Separated
 [204] Married       Married       Separated     Divorced      Divorced      Never married Married
 [211] Married       Married       Married       Married       Never married Never married Never married
 [218] Married       Married       Separated     Married       Never married Married       Never married
 [225] Divorced      Never married Never married Never married Married       Married       Never married
 [232] Married       Widowed       Married       Never married Divorced      Married       Separated
 [239] Married       Married       Married       Widowed       Married       Widowed       Married
 [246] Never married Married       Married       Married       Widowed       Married       Married
 [253] Married       Divorced      Never married Married       Married       Divorced      Married
 [260] Never married Separated     Divorced      Widowed       Married       Separated     Widowed
 [267] Married       Never married Never married Married       Married       Never married Never married
 [274] Never married Divorced      Widowed       Separated     Divorced      Widowed       Never married
 [281] Never married Never married Married       Married       Never married Never married Never married
 [288] Divorced      Never married Divorced      Married       Never married Separated     Separated
 [295] Never married Married       Never married Divorced      Never married Never married Never married
 [302] Never married Divorced      Divorced      Married       Married       Married       Married
 [309] Married       Divorced      Married       Married       Married       Never married Married
 [316] Never married Never married Married       Married       Married       Divorced      Never married
 [323] Never married Married       Married       Married       Never married Never married Never married
 [330] Married       Widowed       Married       Married       Widowed       Married       Married
 [337] Married       Never married Never married Married       Married       Married       Married
 [344] Married       Never married Married       Married       Never married Never married Widowed
 [351] Married       Married       Married       Never married Married       Married       Never married
 [358] Married       Divorced      Married       Married       Separated     Never married Never married
 [365] Married       Married       Divorced      Married       Married       Never married Never married
 [372] Never married Never married Divorced      Married       Married       Divorced      Never married
 [379] Never married Married       Never married Widowed       Married       Married       Divorced
 [386] Married       Married       Separated     Married       Married       Married       Widowed
 [393] Divorced      Married       Married       Married       Divorced      Married       Divorced
 [400] Never married Married       Married       Never married Separated     Separated     Never married
 [407] Divorced      Married       Married       Married       Married       Married       Never married
 [414] Married       Married       Married       Married       Never married Married       Married
 [421] Married       Married       Divorced      Divorced      Married       Married       Married
 [428] Married       Never married Married       Never married Married       Never married Divorced
 [435] Divorced      Divorced      Never married Married       Separated     Divorced      Widowed
 [442] Divorced      Divorced      Never married Divorced      Widowed       Divorced      Divorced
 [449] Divorced      Never married Divorced      Widowed       Widowed       Married       Married
 [456] Never married Never married Never married Married       Married       Married       Widowed
 [463] Divorced      Never married Married       Married       Married       Never married Married
 [470] Married       Married       Widowed       Never married Married       Divorced      Divorced
 [477] Married       Widowed       Married       Married       Married       Married       Married
 [484] Never married Divorced      Married       Never married Separated     Widowed       Divorced
 [491] Married       Married       Never married Separated     Never married Married       Married
 [498] Married       Married       Never married Married       Married       Never married Divorced
 [505] Married       Married       Married       Never married Never married Never married Never married
 [512] Never married Never married Never married Never married Never married Never married Married
 [519] Separated     Married       Never married Divorced      Married       Widowed       Married
 [526] Never married Married       Married       Never married Widowed       Never married Never married
 [533] Married       Married       Separated     Never married Never married Married       Married
 [540] Married       Married       Divorced      Married       Married       Married       Married
 [547] Married       Widowed       Separated     Separated     Never married Widowed       Widowed
 [554] Divorced      Never married Separated     Divorced      Never married Never married Never married
 [561] Married       Married       Never married Married       Married       Married       Divorced
 [568] Married       Married       Never married Married       Married       Divorced      Never married
 [575] Married       Married       Married       Never married Married       Never married Never married
 [582] Married       Married       Separated     Never married Never married Widowed       Married
 [589] Married       Divorced      Married       Married       Married       Married       Married
 [596] Married       Married       Widowed       Never married Divorced      Married       Married
 [603] Married       Never married Never married Never married Never married Never married Never married
 [610] Married       Married       Never married Married       Married       Married       Married
 [617] Never married Separated     Married       Never married Never married Married       Married
 [624] Never married Married       Never married Divorced      Married       Divorced      Widowed
 [631] Married       Never married Married       Never married Separated     Divorced      Never married
 [638] Widowed       Separated     Married       Never married Married       Never married Never married
 [645] Never married Divorced      Divorced      Never married Never married Married       Divorced
 [652] Never married Married       Married       Widowed       Never married Separated     Divorced
 [659] Divorced      Divorced      Never married Married       Divorced      Married       Separated
 [666] Never married Married       Married       Married       Married       Married       Married
 [673] Married       Never married Widowed       Never married Never married Divorced      Never married
 [680] Married       Never married Never married Married       Married       Married       Married
 [687] Married       Never married Divorced      Separated     Divorced      Married       Married
 [694] Married       Married       Married       Married       Married       Married       Never married
 [701] Divorced      Married       Divorced      Never married Never married Never married Never married
 [708] Widowed       Married       Married       Never married Never married Married       Divorced
 [715] Married       Married       Married       Widowed       Never married Never married Divorced
 [722] Married       Married       Married       Divorced      Divorced      Married       Widowed
 [729] Never married Widowed       Married       Widowed       Divorced      Married       Married
 [736] Widowed       Widowed       Divorced      Separated     Widowed       Married       Married
 [743] Married       Never married Married       Married       Married       Married       Married
 [750] Married       Married       Married       Married       Married       Married       Married
 [757] Never married Never married Married       Divorced      Married       Married       Never married
 [764] Never married Widowed       Married       Widowed       Married       Married       Never married
 [771] Never married Never married Divorced      Divorced      Never married Divorced      Never married
 [778] Never married Never married Married       Divorced      Married       Widowed       Married
 [785] Married       Never married Married       Divorced      Divorced      Never married Never married
 [792] Divorced      Divorced      Married       Married       Never married Married       Separated
 [799] Married       Married       Married       Never married Never married Married       Married
 [806] Married       Never married Widowed       Widowed       Widowed       Widowed       Married
 [813] Married       Widowed       Married       Married       Never married Widowed       Widowed
 [820] Never married Divorced      Divorced      Married       Divorced      Separated     Married
 [827] Married       Widowed       Never married Married       Never married Married       Married
 [834] Never married Married       Married       Married       Widowed       Married       Widowed
 [841] Married       Never married Separated     Widowed       Married       Widowed       Never married
 [848] Widowed       Widowed       Widowed       Married       Married       Widowed       Separated
 [855] Married       Married       Separated     Married       Widowed       Married       Divorced
 [862] Never married Widowed       Never married Never married Divorced      Married       Never married
 [869] Married       Divorced      Married       Married       Never married Divorced      Never married
 [876] Divorced      Widowed       Divorced      Married       Divorced      Divorced      Widowed
 [883] Widowed       Never married Married       Divorced      Married       Married       Divorced
 [890] Married       Widowed       Married       Married       Married       Married       Married
 [897] Married       Married       Married       Married       Never married Married       Never married
 [904] Divorced      Married       Widowed       Divorced      Divorced      Married       Divorced
 [911] Married       Married       Never married Divorced      Separated     Married       Never married
 [918] Divorced      Never married Never married Widowed       Never married Married       Married
 [925] Divorced      Separated     Separated     Married       Divorced      Divorced      Married
 [932] Divorced      Married       Divorced      Never married Divorced      Divorced      Never married
 [939] Never married Never married Married       Widowed       Married       Married       Divorced
 [946] Married       Divorced      Divorced      Married       Married       Married       Married
 [953] Never married Divorced      Divorced      Never married Separated     Never married Married
 [960] Married       Married       Married       Married       Never married Married       Never married
 [967] Married       Divorced      Married       Married       Never married Never married Married
 [974] Divorced      Widowed       Divorced      Never married Married       Married       Divorced
 [981] Married       Never married Never married Never married Separated     Never married Divorced
 [988] Married       Divorced      Married       Married       Married       Married       Married
 [995] Married       Married       Never married Married       Married       Married
 [ reached getOption("max.print") -- omitted 20483 entries ]
Levels: No answer Never married Separated Divorced Widowed Married

In [59]:
class(gss_cat$marital)

[1] "factor"

In [61]:
levels(gss_cat$marital)

[1] "No answer"     "Never married" "Separated"     "Divorced"      "Widowed"       "Married"

## Modifying factor order

In [63]:
relig_summary <- gss_cat |>
group_by(relig) |>
summarize(
tvhours = mean(tvhours, na.rm = TRUE),
n = n()
)

In [64]:
relig_summary

# A tibble: 15 × 3
   relig                   tvhours     n
   <fct>                     <dbl> <int>
 1 No answer                  2.72    93
 2 Don't know                 4.62    15
 3 Inter-nondenominational    2.87   109
 4 Native american            3.46    23
 5 Christian                  2.79   689
 6 Orthodox-christian         2.42    95
 7 Moslem/islam               2.44   104
 8 Other eastern              1.67    32
 9 Hinduism                   1.89    71
10 Buddhism                   2.38   147
11 Other                      2.73   224
12 None                       2.71  3523
13 Jewish                     2.52   388
14 Catholic                   2.96  5124
15 Protestant                 3.15 10846

## Modifying factor levels

In [66]:
ordered(c("a", "b", "c"))

[1] a b c
Levels: a < b < c

In [67]:
fct_relevel(c("a", "b", "c"), c("b", "c", "a"))

[1] a b c
Levels: b c a

# Dates and times

In [1]:
library(tidyverse)
library(nycflights13)

── Attaching core tidyverse packages ────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ──────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the ]8;;http://conflicted.r-lib.org/conflicted package]8;; to force all conflicts to become errors

## Creating date/times

In [2]:
today()

[1] "2025-02-12"

In [3]:
now()

[1] "2025-02-12 09:15:17 CST"

In [4]:
dmy("1-09-24")

[1] "2024-09-01"

In [5]:
dmy("1 Sep 24")

[1] "2024-09-01"

In [6]:
date1 <- mdy_hm("01/31/2017 08:01")

In [7]:
date1

[1] "2017-01-31 08:01:00 UTC"

In [14]:
floor_date(date1, "year")

[1] "2017-01-01 UTC"

In [9]:
round_date(date1)

[1] "2017-01-31 08:01:00 UTC"

In [10]:
ceiling_date(date1)

[1] "2017-01-31 08:01:00 UTC"

## Time spans

In [15]:
dseconds(18)

[1] "18s"

In [16]:
dminutes(10)

[1] "600s (~10 minutes)"

In [17]:
dhours(c(12, 24))

[1] "43200s (~12 hours)" "86400s (~1 days)"

In [18]:
ddays(2)

[1] "172800s (~2 days)"

In [19]:
dweeks(3)

[1] "1814400s (~3 weeks)"

In [20]:
dyears(1)

[1] "31557600s (~1 years)"

## Time zones

In [21]:
Sys.timezone()

[1] "Asia/Shanghai"

In [23]:
x1 <- ymd_hms("2024-06-01 12:00:00", tz = "America/New_York")
x1

[1] "2024-06-01 12:00:00 EDT"

In [24]:
x1 <- ymd_hms("2024-06-01 12:00:00", tz = "Asia/Shanghai")
x1

[1] "2024-06-01 12:00:00 CST"

# Missing values

## Explicit missing values

In [25]:
treatment <- tribble(
  ~person,           ~treatment, ~response,
  "Derrick Whitmore", 1,         7,
  NA,                 2,         10,
  NA,                 3,         NA,
  "Katherine Burke",  1,         4
)

In [26]:
treatment

# A tibble: 4 × 3
  person           treatment response
  <chr>                <dbl>    <dbl>
1 Derrick Whitmore         1        7
2 NA                       2       10
3 NA                       3       NA
4 Katherine Burke          1        4

In [27]:
treatment |> 
  fill(everything())

# A tibble: 4 × 3
  person           treatment response
  <chr>                <dbl>    <dbl>
1 Derrick Whitmore         1        7
2 Derrick Whitmore         2       10
3 Derrick Whitmore         3       10
4 Katherine Burke          1        4

In [28]:
x <- c(1, 4, 5, 7, NA)

In [29]:
coalesce(x, 0)

[1] 1 4 5 7 0

In [30]:
x <- c(1, 4, 5, 7, -99)

In [32]:
na_if(x, -99)

[1]  1  4  5  7 NA

## Implicit missing values

In [33]:
stocks <- tibble(
  year  = c(2020, 2020, 2020, 2020, 2021, 2021, 2021),
  qtr   = c(   1,    2,    3,    4,    2,    3,    4),
  price = c(1.88, 0.59, 0.35,   NA, 0.92, 0.17, 2.66)
)

In [34]:
stocks

# A tibble: 7 × 3
   year   qtr price
  <dbl> <dbl> <dbl>
1  2020     1  1.88
2  2020     2  0.59
3  2020     3  0.35
4  2020     4 NA
5  2021     2  0.92
6  2021     3  0.17
7  2021     4  2.66

In [35]:
stocks |> 
  pivot_wider(
    names_from = qtr,
    values_from = price
  )

# A tibble: 2 × 5
   year   `1`   `2`   `3`   `4`
  <dbl> <dbl> <dbl> <dbl> <dbl>
1  2020  1.88  0.59  0.35 NA
2  2021 NA     0.92  0.17  2.66

In [36]:
stocks |> 
  complete(year, qtr)

# A tibble: 8 × 3
   year   qtr price
  <dbl> <dbl> <dbl>
1  2020     1  1.88
2  2020     2  0.59
3  2020     3  0.35
4  2020     4 NA
5  2021     1 NA
6  2021     2  0.92
7  2021     3  0.17
8  2021     4  2.66

## Factors and empty groups

In [38]:
health <- tibble(
  name   = c("Ikaia", "Oletta", "Leriah", "Dashay", "Tresaun"),
  smoker = factor(c("no", "no", "no", "no", "no"), levels = c("yes", "no")),
  age    = c(34, 88, 75, 47, 56),
)

In [39]:
health

# A tibble: 5 × 3
  name    smoker   age
  <chr>   <fct>  <dbl>
1 Ikaia   no        34
2 Oletta  no        88
3 Leriah  no        75
4 Dashay  no        47
5 Tresaun no        56

In [40]:
health |> count(smoker)

# A tibble: 1 × 2
  smoker     n
  <fct>  <int>
1 no         5

# Joins

## Keys

In [41]:
planes

# A tibble: 3,322 × 9
   tailnum  year type                    manufacturer     model     engines seats speed engine
   <chr>   <int> <chr>                   <chr>            <chr>       <int> <int> <int> <chr>
 1 N10156   2004 Fixed wing multi engine EMBRAER          EMB-145XR       2    55    NA Turbo-fan
 2 N102UW   1998 Fixed wing multi engine AIRBUS INDUSTRIE A320-214        2   182    NA Turbo-fan
 3 N103US   1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214        2   182    NA Turbo-fan
 4 N104UW   1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214        2   182    NA Turbo-fan
 5 N10575   2002 Fixed wing multi engine EMBRAER          EMB-145LR       2    55    NA Turbo-fan
 6 N105UW   1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214        2   182    NA Turbo-fan
 7 N107US   1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214        2   182    NA Turbo-fan
 8 N108UW   1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214        2   182    NA Turbo-fan
 9 N109UW   1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214        2   182    NA Turbo-fan
10 N110UW   1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214        2   182    NA Turbo-fan
# ℹ 3,312 more rows
# ℹ Use `print(n = ...)` to see more rows

In [42]:
planes |> 
  count(tailnum)

# A tibble: 3,322 × 2
   tailnum     n
   <chr>   <int>
 1 N10156      1
 2 N102UW      1
 3 N103US      1
 4 N104UW      1
 5 N10575      1
 6 N105UW      1
 7 N107US      1
 8 N108UW      1
 9 N109UW      1
10 N110UW      1
# ℹ 3,312 more rows
# ℹ Use `print(n = ...)` to see more rows

In [43]:
planes |> 
  count(tailnum) |> 
  filter(n > 1)

# A tibble: 0 × 2
# ℹ 2 variables: tailnum <chr>, n <int>

## Basic joins

In [44]:
flights2 <- flights |> 
  select(year, time_hour, origin, dest, tailnum, carrier)
flights2

# A tibble: 336,776 × 6
    year time_hour           origin dest  tailnum carrier
   <int> <dttm>              <chr>  <chr> <chr>   <chr>
 1  2013 2013-01-01 05:00:00 EWR    IAH   N14228  UA
 2  2013 2013-01-01 05:00:00 LGA    IAH   N24211  UA
 3  2013 2013-01-01 05:00:00 JFK    MIA   N619AA  AA
 4  2013 2013-01-01 05:00:00 JFK    BQN   N804JB  B6
 5  2013 2013-01-01 06:00:00 LGA    ATL   N668DN  DL
 6  2013 2013-01-01 05:00:00 EWR    ORD   N39463  UA
 7  2013 2013-01-01 06:00:00 EWR    FLL   N516JB  B6
 8  2013 2013-01-01 06:00:00 LGA    IAD   N829AS  EV
 9  2013 2013-01-01 06:00:00 JFK    MCO   N593JB  B6
10  2013 2013-01-01 06:00:00 LGA    ORD   N3ALAA  AA
# ℹ 336,766 more rows
# ℹ Use `print(n = ...)` to see more rows

In [46]:
airlines

# A tibble: 16 × 2
   carrier name
   <chr>   <chr>
 1 9E      Endeavor Air Inc.
 2 AA      American Airlines Inc.
 3 AS      Alaska Airlines Inc.
 4 B6      JetBlue Airways
 5 DL      Delta Air Lines Inc.
 6 EV      ExpressJet Airlines Inc.
 7 F9      Frontier Airlines Inc.
 8 FL      AirTran Airways Corporation
 9 HA      Hawaiian Airlines Inc.
10 MQ      Envoy Air
11 OO      SkyWest Airlines Inc.
12 UA      United Air Lines Inc.
13 US      US Airways Inc.
14 VX      Virgin America
15 WN      Southwest Airlines Co.
16 YV      Mesa Airlines Inc.

In [45]:
flights2 |> 
  left_join(airlines)

Joining with `by = join_by(carrier)`

# A tibble: 336,776 × 7
    year time_hour           origin dest  tailnum carrier name
   <int> <dttm>              <chr>  <chr> <chr>   <chr>   <chr>
 1  2013 2013-01-01 05:00:00 EWR    IAH   N14228  UA      United Air Lines Inc.
 2  2013 2013-01-01 05:00:00 LGA    IAH   N24211  UA      United Air Lines Inc.
 3  2013 2013-01-01 05:00:00 JFK    MIA   N619AA  AA      American Airlines Inc.
 4  2013 2013-01-01 05:00:00 JFK    BQN   N804JB  B6      JetBlue Airways
 5  2013 2013-01-01 06:00:00 LGA    ATL   N668DN  DL      Delta Air Lines Inc.
 6  2013 2013-01-01 05:00:00 EWR    ORD   N39463  UA      United Air Lines Inc.
 7  2013 2013-01-01 06:00:00 EWR    FLL   N516JB  B6      JetBlue Airways
 8  2013 2013-01-01 06:00:00 LGA    IAD   N829AS  EV      ExpressJet Airlines Inc.
 9  2013 2013-01-01 06:00:00 JFK    MCO   N593JB  B6      JetBlue Airways
10  2013 2013-01-01 06:00:00 LGA    ORD   N3ALAA  AA      American Airlines Inc.
# ℹ 336,766 more rows
# ℹ Use `print(n = ...)` to see more rows

In [47]:
summary6 <- function(data, var) {
  data |> summarize(
  min = min({{ var }}, na.rm = TRUE),
  mean = mean({{ var }}, na.rm = TRUE),
  median = median({{ var }}, na.rm = TRUE),
  max = max({{ var }}, na.rm = TRUE),
  n = n(),
  n_miss = sum(is.na({{ var }})),
  .groups = "drop"
  )
  }
  diamonds |> summary6(carat)

# A tibble: 1 × 6
    min  mean median   max     n n_miss
  <dbl> <dbl>  <dbl> <dbl> <int>  <int>
1   0.2 0.798    0.7  5.01 53940      0

In [48]:
summary6 <- function(data, var) {
  data |> summarize(
  min = min(var, na.rm = TRUE),
  mean = mean({{ var }}, na.rm = TRUE),
  median = median({{ var }}, na.rm = TRUE),
  max = max({{ var }}, na.rm = TRUE),
  n = n(),
  n_miss = sum(is.na({{ var }})),
  .groups = "drop"
  )
  }
  diamonds |> summary6(carat)

: Error in `summarize()`:
ℹ In argument: `min = min(var, na.rm = TRUE)`.
Caused by error:
! 找不到对象'carat'