学习R语言{datawizard}包

In [1]:
library(datawizard)
# before
summary(swiss)

# after
summary(standardize(swiss))

   Fertility      Agriculture     Examination      Education
 Min.   :35.00   Min.   : 1.20   Min.   : 3.00   Min.   : 1.00
 1st Qu.:64.70   1st Qu.:35.90   1st Qu.:12.00   1st Qu.: 6.00
 Median :70.40   Median :54.10   Median :16.00   Median : 8.00
 Mean   :70.14   Mean   :50.66   Mean   :16.49   Mean   :10.98
 3rd Qu.:78.45   3rd Qu.:67.65   3rd Qu.:22.00   3rd Qu.:12.00
 Max.   :92.50   Max.   :89.70   Max.   :37.00   Max.   :53.00
    Catholic       Infant.Mortality
 Min.   :  2.150   Min.   :10.80
 1st Qu.:  5.195   1st Qu.:18.15
 Median : 15.140   Median :20.00
 Mean   : 41.144   Mean   :19.94
 3rd Qu.: 93.125   3rd Qu.:21.70
 Max.   :100.000   Max.   :26.60

   Fertility         Agriculture       Examination         Education
 Min.   :-2.81327   Min.   :-2.1778   Min.   :-1.69084   Min.   :-1.0378
 1st Qu.:-0.43569   1st Qu.:-0.6499   1st Qu.:-0.56273   1st Qu.:-0.5178
 Median : 0.02061   Median : 0.1515   Median :-0.06134   Median :-0.3098
 Mean   : 0.00000   Mean   : 0.0000   Mean   : 0.00000   Mean   : 0.0000
 3rd Qu.: 0.66504   3rd Qu.: 0.7481   3rd Qu.: 0.69074   3rd Qu.: 0.1062
 Max.   : 1.78978   Max.   : 1.7190   Max.   : 2.57094   Max.   : 4.3702
    Catholic       Infant.Mortality
 Min.   :-0.9350   Min.   :-3.13886
 1st Qu.:-0.8620   1st Qu.:-0.61543
 Median :-0.6235   Median : 0.01972
 Mean   : 0.0000   Mean   : 0.00000
 3rd Qu.: 1.2464   3rd Qu.: 0.60337
 Max.   : 1.4113   Max.   : 2.28566

In [2]:
# before
anscombe
#>    x1 x2 x3 x4    y1   y2    y3    y4
#> 1  10 10 10  8  8.04 9.14  7.46  6.58
#> 2   8  8  8  8  6.95 8.14  6.77  5.76
#> 3  13 13 13  8  7.58 8.74 12.74  7.71
#> 4   9  9  9  8  8.81 8.77  7.11  8.84
#> 5  11 11 11  8  8.33 9.26  7.81  8.47
#> 6  14 14 14  8  9.96 8.10  8.84  7.04
#> 7   6  6  6  8  7.24 6.13  6.08  5.25
#> 8   4  4  4 19  4.26 3.10  5.39 12.50
#> 9  12 12 12  8 10.84 9.13  8.15  5.56
#> 10  7  7  7  8  4.82 7.26  6.42  7.91
#> 11  5  5  5  8  5.68 4.74  5.73  6.89

# after
winsorize(anscombe)
#>    x1 x2 x3 x4   y1   y2   y3   y4
#> 1  10 10 10  8 8.04 9.13 7.46 6.58
#> 2   8  8  8  8 6.95 8.14 6.77 5.76
#> 3  12 12 12  8 7.58 8.74 8.15 7.71
#> 4   9  9  9  8 8.81 8.77 7.11 8.47
#> 5  11 11 11  8 8.33 9.13 7.81 8.47
#> 6  12 12 12  8 8.81 8.10 8.15 7.04
#> 7   6  6  6  8 7.24 6.13 6.08 5.76
#> 8   6  6  6  8 5.68 6.13 6.08 8.47
#> 9  12 12 12  8 8.81 9.13 8.15 5.76
#> 10  7  7  7  8 5.68 7.26 6.42 7.91
#> 11  6  6  6  8 5.68 6.13 6.08 6.89

   x1 x2 x3 x4 y1    y2   y3    y4
1  10 10 10  8  8.04 9.14  7.46  6.58
2   8  8  8  8  6.95 8.14  6.77  5.76
3  13 13 13  8  7.58 8.74 12.74  7.71
4   9  9  9  8  8.81 8.77  7.11  8.84
5  11 11 11  8  8.33 9.26  7.81  8.47
6  14 14 14  8  9.96 8.10  8.84  7.04
7   6  6  6  8  7.24 6.13  6.08  5.25
8   4  4  4 19  4.26 3.10  5.39 12.50
9  12 12 12  8 10.84 9.13  8.15  5.56
10  7  7  7  8  4.82 7.26  6.42  7.91
11  5  5  5  8  5.68 4.74  5.73  6.89

   x1 x2 x3 x4 y1   y2   y3   y4
1  10 10 10 8  8.04 9.13 7.46 6.58
2   8  8  8 8  6.95 8.14 6.77 5.76
3  12 12 12 8  7.58 8.74 8.15 7.71
4   9  9  9 8  8.81 8.77 7.11 8.47
5  11 11 11 8  8.33 9.13 7.81 8.47
6  12 12 12 8  8.81 8.10 8.15 7.04
7   6  6  6 8  7.24 6.13 6.08 5.76
8   6  6  6 8  5.68 6.13 6.08 8.47
9  12 12 12 8  8.81 9.13 8.15 5.76
10  7  7  7 8  5.68 7.26 6.42 7.91
11  6  6  6 8  5.68 6.13 6.08 6.89

In [3]:
center(anscombe)
#>    x1 x2 x3 x4          y1         y2    y3         y4
#> 1   1  1  1 -1  0.53909091  1.6390909 -0.04 -0.9209091
#> 2  -1 -1 -1 -1 -0.55090909  0.6390909 -0.73 -1.7409091
#> 3   4  4  4 -1  0.07909091  1.2390909  5.24  0.2090909
#> 4   0  0  0 -1  1.30909091  1.2690909 -0.39  1.3390909
#> 5   2  2  2 -1  0.82909091  1.7590909  0.31  0.9690909
#> 6   5  5  5 -1  2.45909091  0.5990909  1.34 -0.4609091
#> 7  -3 -3 -3 -1 -0.26090909 -1.3709091 -1.42 -2.2509091
#> 8  -5 -5 -5 10 -3.24090909 -4.4009091 -2.11  4.9990909
#> 9   3  3  3 -1  3.33909091  1.6290909  0.65 -1.9409091
#> 10 -2 -2 -2 -1 -2.68090909 -0.2409091 -1.08  0.4090909
#> 11 -4 -4 -4 -1 -1.82090909 -2.7609091 -1.77 -0.6109091

   x1 x2 x3 x4 y1          y2         y3    y4
1   1  1  1 -1  0.53909091  1.6390909 -0.04 -0.9209091
2  -1 -1 -1 -1 -0.55090909  0.6390909 -0.73 -1.7409091
3   4  4  4 -1  0.07909091  1.2390909  5.24  0.2090909
4   0  0  0 -1  1.30909091  1.2690909 -0.39  1.3390909
5   2  2  2 -1  0.82909091  1.7590909  0.31  0.9690909
6   5  5  5 -1  2.45909091  0.5990909  1.34 -0.4609091
7  -3 -3 -3 -1 -0.26090909 -1.3709091 -1.42 -2.2509091
8  -5 -5 -5 10 -3.24090909 -4.4009091 -2.11  4.9990909
9   3  3  3 -1  3.33909091  1.6290909  0.65 -1.9409091
10 -2 -2 -2 -1 -2.68090909 -0.2409091 -1.08  0.4090909
11 -4 -4 -4 -1 -1.82090909 -2.7609091 -1.77 -0.6109091

In [4]:
# before
head(trees)
#>   Girth Height Volume
#> 1   8.3     70   10.3
#> 2   8.6     65   10.3
#> 3   8.8     63   10.2
#> 4  10.5     72   16.4
#> 5  10.7     81   18.8
#> 6  10.8     83   19.7

# after
head(ranktransform(trees))
#>   Girth Height Volume
#> 1     1    6.0    2.5
#> 2     2    3.0    2.5
#> 3     3    1.0    1.0
#> 4     4    8.5    5.0
#> 5     5   25.5    7.0
#> 6     6   28.0    9.0

  Girth Height Volume
1  8.3  70     10.3
2  8.6  65     10.3
3  8.8  63     10.2
4 10.5  72     16.4
5 10.7  81     18.8
6 10.8  83     19.7

  Girth Height Volume
1 1      6.0   2.5
2 2      3.0   2.5
3 3      1.0   1.0
4 4      8.5   5.0
5 5     25.5   7.0
6 6     28.0   9.0

In [5]:
change_scale(c(0, 1, 5, -5, -2))
#> [1]  50  60 100   0  30
#> (original range = -5 to 5)

[1]  50  60 100   0  30
(original range = -5 to 5)

In [6]:
x <- mtcars[1:3, 1:4]

x
#>                mpg cyl disp  hp
#> Mazda RX4     21.0   6  160 110
#> Mazda RX4 Wag 21.0   6  160 110
#> Datsun 710    22.8   4  108  93

data_rotate(x)
#>      Mazda RX4 Mazda RX4 Wag Datsun 710
#> mpg         21            21       22.8
#> cyl          6             6        4.0
#> disp       160           160      108.0
#> hp         110           110       93.0

              mpg  cyl disp hp
Mazda RX4     21.0 6   160  110
Mazda RX4 Wag 21.0 6   160  110
Datsun 710    22.8 4   108   93

     Mazda RX4 Mazda RX4 Wag Datsun 710
mpg   21        21            22.8
cyl    6         6             4.0
disp 160       160           108.0
hp   110       110            93.0

In [7]:
data(iris)
describe_distribution(iris)

  Variable     Mean     SD        IQR   Min Max Skewness   Kurtosis  n
1 Sepal.Length 5.843333 0.8280661 1.300 4.3 7.9  0.3149110 -0.552064 150
2 Sepal.Width  3.057333 0.4358663 0.525 2.0 4.4  0.3189657  0.228249 150
3 Petal.Length 3.758000 1.7652982 3.525 1.0 6.9 -0.2748842 -1.402103 150
4 Petal.Width  1.199333 0.7622377 1.500 0.1 2.5 -0.1029667 -1.340604 150
  n_Missing
1 0
2 0
3 0
4 0