学习R语言{skimr}包

In [4]:
library(skimr)
library(tidyverse)
skim(iris) %>% print()

-- Data Summary ------------------------
                           Values
Name                       iris
Number of rows             150
Number of columns          5
_______________________
Column type frequency:
  factor                   1
  numeric                  4
________________________
Group variables            None

-- Variable type: factor -------------------------------------------------------
  skim_variable n_missing complete_rate ordered n_unique
1 Species               0             1 FALSE          3
  top_counts
1 set: 50, ver: 50, vir: 50

-- Variable type: numeric ------------------------------------------------------
  skim_variable n_missing complete_rate mean    sd  p0 p25  p50 p75 p100
1 Sepal.Length          0             1 5.84 0.828 4.3 5.1 5.8  6.4  7.9
2 Sepal.Width           0             1 3.06 0.436 2   2.8 3    3.3  4.4
3 Petal.Length          0             1 3.76 1.77  1   1.6 4.35 5.1  6.9
4 Petal.Width           0             1 1.20 0.762 0.1 0.3 1.3  1.8  2.5
  hist
1 "\u2586\u2587\u2587\u2585\u2582"
2 "\u2581\u2586\u2587\u2582\u2581"
3 "\u2587\u2581\u2586\u2587\u2582"
4 "\u2587\u2581\u2587\u2585\u2583"

In [5]:
skim(iris) %>% is_skim_df()

[1] TRUE
attr(,"message")
character(0)

In [6]:
skim(iris) %>%
  dplyr::select(-skim_type, -skim_variable) %>% is_skim_df()

[1] FALSE
attr(,"message")
[1] "Object is not a `skim_df`: missing column `skim_type`; missing column `skim_variable`"

In [7]:
skim(iris) %>%
  dplyr::select(-n_missing) %>% is_skim_df()

[1] TRUE
attr(,"message")
character(0)

In [8]:
skim(iris) %>%
  tibble::as_tibble()

  skim_type skim_variable n_missing complete_rate factor.ordered
1 factor    Species       0         1             FALSE
2 numeric   Sepal.Length  0         1                NA
3 numeric   Sepal.Width   0         1                NA
4 numeric   Petal.Length  0         1                NA
5 numeric   Petal.Width   0         1                NA
  factor.n_unique factor.top_counts         numeric.mean numeric.sd numeric.p0
1  3              set: 50, ver: 50, vir: 50       NA            NA   NA
2 NA              NA                        5.843333     0.8280661  4.3
3 NA              NA                        3.057333     0.4358663  2.0
4 NA              NA                        3.758000     1.7652982  1.0
5 NA              NA                        1.199333     0.7622377  0.1
  numeric.p25 numeric.p50 numeric.p75 numeric.p100
1  NA           NA         NA          NA
2 5.1         5.80        6.4         7.9
3 2.8         3.00        3.3         4.4
4 1.6         4.35        5.1         6.9
5 0.3         1.30        1.8         2.5
  numeric.hist
1 NA
2 <U+2586><U+2587><U+2587><U+2585><U+2582>
3 <U+2581><U+2586><U+2587><U+2582><U+2581>
4 <U+2587><U+2581><U+2586><U+2587><U+2582>
5 <U+2587><U+2581><U+2587><U+2585><U+2583>