学习tableone包绘制table1。

In [1]:
install.packages("tableone")

also installing the dependencies 'gtools', 'gdata', 'gmodels'

The downloaded binary packages are in
	/var/folders/fv/c0dh9y6s7638rh5fdr3lgcmr0000gn/T//RtmpcuI8dr/downloaded_packages

In [2]:
library(tableone)

In [4]:
library(tidyverse)

-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v dplyr     1.1.4     v readr     2.1.5
v forcats   1.0.0     v stringr   1.5.1
v ggplot2   3.5.1     v tibble    3.2.1
v lubridate 1.9.4     v tidyr     1.3.1
v purrr     1.0.2
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# Table 1（2列）

In [5]:
# 读取数据
aa <- read_csv("./data/20210126.csv")

Rows: 5000 Columns: 16
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (14): age70, race, marry, t, n, tnm, er, pr, her2, g, sur, rt, che, status
dbl  (2): age, time

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [6]:
aa

     age age70 race  marry    t   n   tnm  er       pr       her2     g   sur
1    58  <=70  White Single   T3  N3  IIIC Negative Negative Positive III MAST
2    36  <=70  White Married  T1  N2  IIIA Positive Positive Positive III MAST
3    58  <=70  White Other    T2  N3  IIIC Positive Positive Negative III BCS
4    63  <=70  White Single   T3  N3  IIIC Positive Positive Negative II  MAST
5    90  >70   White Other    T3  N2  IIIA Negative Negative Negative III MAST
6    54  <=70  White Married  T3  N1  IIIA Positive Positive Positive II  BCS
7    44  <=70  White Married  T3  N1  IIIA Negative Negative Negative II  MAST
8    44  <=70  White Married  T3  N2  IIIA Positive Negative Negative III MAST
9    63  <=70  White Single   T3  N2  IIIA Positive Positive Negative II  MAST
10   29  <=70  White Single   T3  N0  IIB  Positive Positive Negative III MAST
11   47  <=70  White Married  T2  N3  IIIC Positive Positive Negative III MAST
12   72  >70   White Single   T3  N1  IIIA Positive Positive Negative III MAST
13   54  <=70  Black Single   T3  N0  IIB  Negative Negative Negative III BCS
14   60  <=70  Other Married  T2  N2  IIIA Negative Negative Positive II  MAST
15   50  <=70  White Married  T3  N3  IIIC Positive Positive Positive III MAST
16   78  >70   White Divorced T4  N3  IIIC Positive Negative Positive II  MAST
17   69  <=70  White Other    T2  N2  IIIA Positive Positive Negative II  MAST
18   64  <=70  White Married  T2  N2  IIIA Positive Positive Negative II  BCS
19   47  <=70  Other Single   T1  N2  IIIA Positive Positive Negative II  MAST
20   70  <=70  White Other    T1  N2  IIIA Positive Positive Negative II  BCS
21   53  <=70  White Single   T4  N2  IIIB Positive Negative Negative II  MAST
22   59  <=70  White Single   T3  N0  IIB  Positive Positive Negative III MAST
23   67  <=70  White Married  T3  N0  IIB  Positive Positive Negative II  MAST
24   83  >70   White Divorced T1  N3  IIIC Positive Positive Negative II  MAST
25   67  <=70  White Married  T3  N1  IIIA Positive Positive Negative II  MAST
26   60  <=70  Other Other    T1  N2  IIIA Positive Positive Negative II  MAST
27   40  <=70  White Married  T3  N3  IIIC Positive Positive Negative III MAST
28   49  <=70  White Married  T2  N2  IIIA Positive Positive Negative III MAST
29   58  <=70  White Single   T1  N3  IIIC Positive Positive Negative I   MAST
30   63  <=70  Other Single   T2  N2  IIIA Positive Positive Negative II  MAST
...  ... ...   ...   ...      ... ... ...  ...      ...      ...      ... ...
4971 64  <=70  White Other    T2  N2  IIIA Positive Negative Negative III MAST
4972 56  <=70  White Married  T3  N0  IIB  Negative Negative Negative II  MAST
4973 77  >70   White Married  T3  N0  IIB  Positive Positive Negative III BCS
4974 55  <=70  White Married  T3  N3  IIIC Positive Negative Negative III No
4975 49  <=70  White Married  T3  N2  IIIA Positive Positive Negative II  MAST
4976 62  <=70  White Divorced T3  N1  IIIA Positive Negative Negative III No
4977 85  >70   White Other    T3  N1  IIIA Positive Positive Negative I   MAST
4978 85  >70   White Divorced T3  N1  IIIA Positive Positive Negative II  MAST
4979 53  <=70  White Single   T3  N1  IIIA Positive Positive Negative II  BCS
4980 62  <=70  Black Single   T3  N2  IIIA Positive Positive Negative III BCS
4981 48  <=70  White Divorced T3  N1  IIIA Positive Positive Negative I   MAST
4982 77  >70   White Single   T4  N0  IIIB Positive Positive Negative II  MAST
4983 88  >70   Black Other    T3  N0  IIB  Negative Negative Negative III MAST
4984 56  <=70  Other Single   T3  N0  IIB  Positive Negative Positive III MAST
4985 46  <=70  Other Married  T2  N2  IIIA Positive Positive Positive III MAST
4986 57  <=70  Black Single   T2  N3  IIIC Negative Positive Negative III MAST
4987 46  <=70  White Married  T3  N1  IIIA Positive Positive Negative III MAST
4988 67  <=70  White Married  T3  N0  IIB  Positive Negative Positive III BCS
4989 66  <=70  White Other    T2  N2  IIIA Positive Positive Negative II  BCS
4990 61  <=70  White Divorced T3  N0  IIB  Negative Negative Negative III MAST
4991 64  <=70  White Married  T3  N2  IIIA Positive Positive Negative II  MAST
4992 44  <=70  White Single   T3  N2  IIIA Positive Positive Negative III BCS
4993 94  >70   Other Other    T4  N2  IIIB Negative Negative Negative III No
4994 46  <=70  White Married  T1  N2  IIIA Positive Positive Negative II  BCS
4995 68  <=70  White Married  T1  N2  IIIA Positive Negative Negative III MAST
4996 53  <=70  Other Other    T4  N1  IIIB Positive Positive Negative II  No
4997 49  <=70  White Married  T3  N1  IIIA Positive Positive Negative II  MAST
4998 59  <=70  White Married  T4  N2  IIIB Positive Positive Positive II  MAST
4999 57  <=70  Black Single   T3  N1  IIIA Positive Positive Positive III MAST
5000 40  <=70  Other Married  T2  N2  IIIA Positive Positive Negative III MAST
     rt         che        status time
1    Yes        Yes        live   79
2    No/Unknown No/Unknown dead   35
3    Yes        No/Unknown dead   38
4    Yes        Yes        live   77
5    No/Unknown No/Unknown dead    7
6    Yes        No/Unknown live   60
7    Yes        Yes        live   83
8    Yes        Yes        live   81
9    Yes        No/Unknown live   75
10   Yes        Yes        live   79
11   Yes        Yes        live   82
12   Yes        No/Unknown live   80
13   Yes        Yes        dead   14
14   No/Unknown Yes        live   76
15   No/Unknown No/Unknown live   82
16   No/Unknown Yes        live   79
17   Yes        Yes        live   80
18   No/Unknown Yes        live   72
19   No/Unknown Yes        live   75
20   No/Unknown No/Unknown live   82
21   No/Unknown No/Unknown dead   67
22   No/Unknown No/Unknown live   82
23   Yes        No/Unknown live   78
24   No/Unknown No/Unknown dead   36
25   No/Unknown Yes        live   74
26   No/Unknown Yes        live   75
27   Yes        Yes        live   75
28   Yes        Yes        live   74
29   Yes        Yes        live   78
30   Yes        Yes        live   73
...  ...        ...        ...    ...
4971 Yes        Yes        live   22
4972 Yes        Yes        live   23
4973 Yes        No/Unknown live   20
4974 No/Unknown Yes        live   18
4975 Yes        Yes        live   22
4976 No/Unknown Yes        live   22
4977 No/Unknown No/Unknown dead    5
4978 Yes        No/Unknown dead   16
4979 Yes        No/Unknown live   20
4980 No/Unknown No/Unknown live   15
4981 Yes        Yes        live   18
4982 Yes        No/Unknown live   13
4983 Yes        No/Unknown live   14
4984 Yes        Yes        live   12
4985 Yes        Yes        live   18
4986 Yes        Yes        live   19
4987 Yes        Yes        live   23
4988 Yes        Yes        live   15
4989 Yes        Yes        live   16
4990 Yes        Yes        dead   15
4991 Yes        Yes        live   12
4992 Yes        Yes        live   12
4993 No/Unknown Yes        dead    4
4994 Yes        Yes        live   22
4995 No/Unknown No/Unknown live   23
4996 Yes        No/Unknown live   15
4997 Yes        Yes        live   21
4998 No/Unknown Yes        live   20
4999 Yes        Yes        live   15
5000 Yes        Yes        live   13

In [ ]:
head(aa)

  age age70 race  marry   t  n  tnm  er       pr       her2     g   sur
1 58  <=70  White Single  T3 N3 IIIC Negative Negative Positive III MAST
2 36  <=70  White Married T1 N2 IIIA Positive Positive Positive III MAST
3 58  <=70  White Other   T2 N3 IIIC Positive Positive Negative III BCS
4 63  <=70  White Single  T3 N3 IIIC Positive Positive Negative II  MAST
5 90  >70   White Other   T3 N2 IIIA Negative Negative Negative III MAST
6 54  <=70  White Married T3 N1 IIIA Positive Positive Positive II  BCS
  rt         che        status time
1 Yes        Yes        live   79
2 No/Unknown No/Unknown dead   35
3 Yes        No/Unknown dead   38
4 Yes        Yes        live   77
5 No/Unknown No/Unknown dead    7
6 Yes        No/Unknown live   60

In [8]:
str(aa)

spc_tbl_ [5,000 x 16] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ age   : num [1:5000] 58 36 58 63 90 54 44 44 63 29 ...
 $ age70 : chr [1:5000] "<=70" "<=70" "<=70" "<=70" ...
 $ race  : chr [1:5000] "White" "White" "White" "White" ...
 $ marry : chr [1:5000] "Single" "Married" "Other" "Single" ...
 $ t     : chr [1:5000] "T3" "T1" "T2" "T3" ...
 $ n     : chr [1:5000] "N3" "N2" "N3" "N3" ...
 $ tnm   : chr [1:5000] "IIIC" "IIIA" "IIIC" "IIIC" ...
 $ er    : chr [1:5000] "Negative" "Positive" "Positive" "Positive" ...
 $ pr    : chr [1:5000] "Negative" "Positive" "Positive" "Positive" ...
 $ her2  : chr [1:5000] "Positive" "Positive" "Negative" "Negative" ...
 $ g     : chr [1:5000] "III" "III" "III" "II" ...
 $ sur   : chr [1:5000] "MAST" "MAST" "BCS" "MAST" ...
 $ rt    : chr [1:5000] "Yes" "No/Unknown" "Yes" "Yes" ...
 $ che   : chr [1:5000] "Yes" "No/Unknown" "No/Unknown" "Yes" ...
 $ status: chr [1:5000] "live" "dead" "dead" "live" ...
 $ time  : num [1:5000] 79 35 38 77 7 60 83 81 75 79 ...
 - attr(*, "spec")=
  .. cols(
  ..   age = col_double(),
  ..   age70 = col_character(),
  ..   race = col_character(),
  ..   marry = col_character(),
  ..   t = col_character(),
  ..   n = col_character(),
  ..   tnm = col_character(),
  ..   er = col_character(),
  ..   pr = col_character(),
  ..   her2 = col_character(),
  ..   g = col_character(),
  ..   sur = col_character(),
  ..   rt = col_character(),
  ..   che = col_character(),
  ..   status = col_character(),
  ..   time = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

In [14]:
# 指定想要输出的变量
myVars <- c(
  "age","age70", "race", "marry",
  "t", "n",  "tnm", "er", "pr",
  "g","her2", "sur","rt","che",
  "time","status") # 16个变量

In [15]:
#指定分类变量
 catVars <- c(
  "age70", "race", "marry",
   "t", "n",  "tnm", "er", "pr",
  "g","her2", "sur","rt","che","status")  # 14个分类变量

In [17]:
# 指定哪些变量是非正态分布变量
nonvar <- c("time","age")

In [18]:
 table<- CreateTableOne(
  vars = myVars,       #条件1
  factorVars = catVars, #条件2
  data = aa,  #源数据
  addOverall = TRUE
)  #增加overall列

In [ ]:
table1 <- print(
  table,  #构建的table函数（包括条件1.2）
  showAllLevels=TRUE, #显示所有变量
  nonnormal = nonvar
) #条件3

                      level      Overall
  n                               5000
  age (median [IQR])             57.00 [48.00, 67.00]
  age70 (%)           <=70        4023 (80.5)
                      >70          977 (19.5)
  race (%)            Black        786 (15.7)
                      Other        536 (10.7)
                      White       3678 (73.6)
  marry (%)           Divorced     579 (11.6)
                      Married     2612 (52.2)
                      Other        851 (17.0)
                      Single       958 (19.2)
  t (%)               T1           609 (12.2)
                      T2          1529 (30.6)
                      T3          1816 (36.3)
                      T4          1046 (20.9)
  n (%)               N0           808 (16.2)
                      N1          1140 (22.8)
                      N2          1966 (39.3)
                      N3          1086 (21.7)
  tnm (%)             IIB          571 (11.4)
                      IIIA        2507 (50.1)
                      IIIB         836 (16.7)
                      IIIC        1086 (21.7)
  er (%)              Negative    1461 (29.2)
                      Positive    3539 (70.8)
  pr (%)              Negative    2074 (41.5)
                      Positive    2926 (58.5)
  g (%)               I            271 ( 5.4)
                      II          1706 (34.1)
                      III         3023 (60.5)
  her2 (%)            Negative    3721 (74.4)
                      Positive    1279 (25.6)
  sur (%)             BCS         1119 (22.4)
                      MAST        3435 (68.7)
                      No           446 ( 8.9)
  rt (%)              No/Unknown  2156 (43.1)
                      Yes         2844 (56.9)
  che (%)             No/Unknown  1069 (21.4)
                      Yes         3931 (78.6)
  time (median [IQR])            36.00 [20.00, 56.00]
  status (%)          dead        1189 (23.8)
                      live        3811 (76.2)

# Table 1（4列）

In [20]:
table <- CreateTableOne(
  vars = myVars, #条件1
  factorVars = catVars,#条件2
  strata = "rt", #条件4
  data = aa, #原始数据
)

In [22]:
table1<- print(
  table, #构建的table函数（带条件1.2.3）
  nonnormal = nonvar,#条件4
  #exact = exactvars,#条件5
  catDigits = 2,
  contDigits = 3,
  pDigits = 4, #附加条件
  showAllLevels=TRUE, #显示所有变量
  quote = FALSE, # 不显示引号
  noSpaces = TRUE, # #删除用于对齐的空格
  printToggle = TRUE
) #展示输出结果

                     Stratified by rt
                      level      No/Unknown
  n                              2156
  age (median [IQR])             59.000 [49.000, 72.000]
  age70 (%)           <=70       1575 (73.05)
                      >70        581 (26.95)
  race (%)            Black      343 (15.91)
                      Other      255 (11.83)
                      White      1558 (72.26)
  marry (%)           Divorced   247 (11.46)
                      Married    999 (46.34)
                      Other      466 (21.61)
                      Single     444 (20.59)
  t (%)               T1         222 (10.30)
                      T2         592 (27.46)
                      T3         802 (37.20)
                      T4         540 (25.05)
  n (%)               N0         463 (21.47)
                      N1         506 (23.47)
                      N2         732 (33.95)
                      N3         455 (21.10)
  tnm (%)             IIB        309 (14.33)
                      IIIA       950 (44.06)
                      IIIB       442 (20.50)
                      IIIC       455 (21.10)
  er (%)              Negative   665 (30.84)
                      Positive   1491 (69.16)
  pr (%)              Negative   952 (44.16)
                      Positive   1204 (55.84)
  g (%)               I          110 (5.10)
                      II         733 (34.00)
                      III        1313 (60.90)
  her2 (%)            Negative   1575 (73.05)
                      Positive   581 (26.95)
  sur (%)             BCS        371 (17.21)
                      MAST       1383 (64.15)
                      No         402 (18.65)
  rt (%)              No/Unknown 2156 (100.00)
                      Yes        0 (0.00)
  che (%)             No/Unknown 768 (35.62)
                      Yes        1388 (64.38)
  time (median [IQR])            31.000 [17.000, 51.000]
  status (%)          dead       640 (29.68)
                      live       1516 (70.32)
                     Stratified by rt
                      Yes                     p       test
  n                   2844
  age (median [IQR])  56.000 [47.000, 65.000] <0.0001 nonnorm
  age70 (%)           2448 (86.08)            <0.0001
                      396 (13.92)
  race (%)            443 (15.58)             0.0710
                      281 (9.88)
                      2120 (74.54)
  marry (%)           332 (11.67)             <0.0001
                      1613 (56.72)
                      385 (13.54)
                      514 (18.07)
  t (%)               387 (13.61)             <0.0001
                      937 (32.95)
                      1014 (35.65)
                      506 (17.79)
  n (%)               345 (12.13)             <0.0001
                      634 (22.29)
                      1234 (43.39)
                      631 (22.19)
  tnm (%)             262 (9.21)              <0.0001
                      1557 (54.75)
                      394 (13.85)
                      631 (22.19)
  er (%)              796 (27.99)             0.0302
                      2048 (72.01)
  pr (%)              1122 (39.45)            0.0009
                      1722 (60.55)
  g (%)               161 (5.66)              0.6555
                      973 (34.21)
                      1710 (60.13)
  her2 (%)            2146 (75.46)            0.0577
                      698 (24.54)
  sur (%)             748 (26.30)             <0.0001
                      2052 (72.15)
                      44 (1.55)
  rt (%)              0 (0.00)                <0.0001
                      2844 (100.00)
  che (%)             301 (10.58)             <0.0001
                      2543 (89.42)
  time (median [IQR]) 39.000 [23.000, 59.000] <0.0001 nonnorm
  status (%)          549 (19.30)             <0.0001
                      2295 (80.70)

# Table 1（5列）

In [23]:
table <- CreateTableOne(
  vars = myVars, #条件1
  factorVars = catVars,#条件2
  strata = "rt", #条件4
  data = aa, #原始数据
  addOverall = TRUE
)  # 条件6加入overall

In [25]:
table

                     Stratified by rt
                      Overall       No/Unknown    Yes            p      test
  n                    5000          2156          2844
  age (mean (SD))     58.00 (14.36) 60.64 (15.27) 56.00 (13.29)  <0.001
  age70 = >70 (%)       977 (19.5)    581 (26.9)    396 ( 13.9)  <0.001
  race (%)                                                        0.071
     Black              786 (15.7)    343 (15.9)    443 ( 15.6)
     Other              536 (10.7)    255 (11.8)    281 (  9.9)
     White             3678 (73.6)   1558 (72.3)   2120 ( 74.5)
  marry (%)                                                      <0.001
     Divorced           579 (11.6)    247 (11.5)    332 ( 11.7)
     Married           2612 (52.2)    999 (46.3)   1613 ( 56.7)
     Other              851 (17.0)    466 (21.6)    385 ( 13.5)
     Single             958 (19.2)    444 (20.6)    514 ( 18.1)
  t (%)                                                          <0.001
     T1                 609 (12.2)    222 (10.3)    387 ( 13.6)
     T2                1529 (30.6)    592 (27.5)    937 ( 32.9)
     T3                1816 (36.3)    802 (37.2)   1014 ( 35.7)
     T4                1046 (20.9)    540 (25.0)    506 ( 17.8)
  n (%)                                                          <0.001
     N0                 808 (16.2)    463 (21.5)    345 ( 12.1)
     N1                1140 (22.8)    506 (23.5)    634 ( 22.3)
     N2                1966 (39.3)    732 (34.0)   1234 ( 43.4)
     N3                1086 (21.7)    455 (21.1)    631 ( 22.2)
  tnm (%)                                                        <0.001
     IIB                571 (11.4)    309 (14.3)    262 (  9.2)
     IIIA              2507 (50.1)    950 (44.1)   1557 ( 54.7)
     IIIB               836 (16.7)    442 (20.5)    394 ( 13.9)
     IIIC              1086 (21.7)    455 (21.1)    631 ( 22.2)
  er = Positive (%)    3539 (70.8)   1491 (69.2)   2048 ( 72.0)   0.030
  pr = Positive (%)    2926 (58.5)   1204 (55.8)   1722 ( 60.5)   0.001
  g (%)                                                           0.655
     I                  271 ( 5.4)    110 ( 5.1)    161 (  5.7)
     II                1706 (34.1)    733 (34.0)    973 ( 34.2)
     III               3023 (60.5)   1313 (60.9)   1710 ( 60.1)
  her2 = Positive (%)  1279 (25.6)    581 (26.9)    698 ( 24.5)   0.058
  sur (%)                                                        <0.001
     BCS               1119 (22.4)    371 (17.2)    748 ( 26.3)
     MAST              3435 (68.7)   1383 (64.1)   2052 ( 72.2)
     No                 446 ( 8.9)    402 (18.6)     44 (  1.5)
  rt = Yes (%)         2844 (56.9)      0 ( 0.0)   2844 (100.0)  <0.001
  che = Yes (%)        3931 (78.6)   1388 (64.4)   2543 ( 89.4)  <0.001
  time (mean (SD))    38.77 (21.45) 34.92 (21.85) 41.69 (20.68)  <0.001
  status = live (%)    3811 (76.2)   1516 (70.3)   2295 ( 80.7)  <0.001

In [24]:
table1<- print(
  table, #构建的table函数（带条件1.2.3）
  nonnormal = nonvar,#条件4
  #exact = exactvars,#条件5
  catDigits = 2,contDigits = 3,pDigits = 4, #附加条件
  showAllLevels=TRUE, #显示所有变量
  quote = FALSE, # 不显示引号
  noSpaces = TRUE, # #删除用于对齐的空格
  printToggle = TRUE
) # 展示输出结果

                     Stratified by rt
                      level      Overall
  n                              5000
  age (median [IQR])             57.000 [48.000, 67.000]
  age70 (%)           <=70       4023 (80.46)
                      >70        977 (19.54)
  race (%)            Black      786 (15.72)
                      Other      536 (10.72)
                      White      3678 (73.56)
  marry (%)           Divorced   579 (11.58)
                      Married    2612 (52.24)
                      Other      851 (17.02)
                      Single     958 (19.16)
  t (%)               T1         609 (12.18)
                      T2         1529 (30.58)
                      T3         1816 (36.32)
                      T4         1046 (20.92)
  n (%)               N0         808 (16.16)
                      N1         1140 (22.80)
                      N2         1966 (39.32)
                      N3         1086 (21.72)
  tnm (%)             IIB        571 (11.42)
                      IIIA       2507 (50.14)
                      IIIB       836 (16.72)
                      IIIC       1086 (21.72)
  er (%)              Negative   1461 (29.22)
                      Positive   3539 (70.78)
  pr (%)              Negative   2074 (41.48)
                      Positive   2926 (58.52)
  g (%)               I          271 (5.42)
                      II         1706 (34.12)
                      III        3023 (60.46)
  her2 (%)            Negative   3721 (74.42)
                      Positive   1279 (25.58)
  sur (%)             BCS        1119 (22.38)
                      MAST       3435 (68.70)
                      No         446 (8.92)
  rt (%)              No/Unknown 2156 (43.12)
                      Yes        2844 (56.88)
  che (%)             No/Unknown 1069 (21.38)
                      Yes        3931 (78.62)
  time (median [IQR])            36.000 [20.000, 56.000]
  status (%)          dead       1189 (23.78)
                      live       3811 (76.22)
                     Stratified by rt
                      No/Unknown              Yes                     p
  n                   2156                    2844
  age (median [IQR])  59.000 [49.000, 72.000] 56.000 [47.000, 65.000] <0.0001
  age70 (%)           1575 (73.05)            2448 (86.08)            <0.0001
                      581 (26.95)             396 (13.92)
  race (%)            343 (15.91)             443 (15.58)             0.0710
                      255 (11.83)             281 (9.88)
                      1558 (72.26)            2120 (74.54)
  marry (%)           247 (11.46)             332 (11.67)             <0.0001
                      999 (46.34)             1613 (56.72)
                      466 (21.61)             385 (13.54)
                      444 (20.59)             514 (18.07)
  t (%)               222 (10.30)             387 (13.61)             <0.0001
                      592 (27.46)             937 (32.95)
                      802 (37.20)             1014 (35.65)
                      540 (25.05)             506 (17.79)
  n (%)               463 (21.47)             345 (12.13)             <0.0001
                      506 (23.47)             634 (22.29)
                      732 (33.95)             1234 (43.39)
                      455 (21.10)             631 (22.19)
  tnm (%)             309 (14.33)             262 (9.21)              <0.0001
                      950 (44.06)             1557 (54.75)
                      442 (20.50)             394 (13.85)
                      455 (21.10)             631 (22.19)
  er (%)              665 (30.84)             796 (27.99)             0.0302
                      1491 (69.16)            2048 (72.01)
  pr (%)              952 (44.16)             1122 (39.45)            0.0009
                      1204 (55.84)            1722 (60.55)
  g (%)               110 (5.10)              161 (5.66)              0.6555
                      733 (34.00)             973 (34.21)
                      1313 (60.90)            1710 (60.13)
  her2 (%)            1575 (73.05)            2146 (75.46)            0.0577
                      581 (26.95)             698 (24.54)
  sur (%)             371 (17.21)             748 (26.30)             <0.0001
                      1383 (64.15)            2052 (72.15)
                      402 (18.65)             44 (1.55)
  rt (%)              2156 (100.00)           0 (0.00)                <0.0001
                      0 (0.00)                2844 (100.00)
  che (%)             768 (35.62)             301 (10.58)             <0.0001
                      1388 (64.38)            2543 (89.42)
  time (median [IQR]) 31.000 [17.000, 51.000] 39.000 [23.000, 59.000] <0.0001
  status (%)          640 (29.68)             549 (19.30)             <0.0001
                      1516 (70.32)            2295 (80.70)
                     Stratified by rt
                      test
  n
  age (median [IQR])  nonnorm
  age70 (%)

  race (%)


  marry (%)



  t (%)



  n (%)



  tnm (%)



  er (%)

  pr (%)

  g (%)


  her2 (%)

  sur (%)


  rt (%)

  che (%)

  time (median [IQR]) nonnorm
  status (%)